
@font-face {
  font-family: 'wix-madefor-display';
  src: url('/fonts/WixMadeforDisplay-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'wix-madefor-text';
  src: url('/fonts/WixMadeforText-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* пока страница "loading" — не показываем контент, запрещаем анимации/трансформации */
html.loading body > *:not(#preloader-html) {
  visibility: hidden;
}

html:not(.loading) body > * {
  visibility: visible;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color:#171717
}

:root {
  --background: rgb(245, 245, 245);
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: wix-madefor-display, sans-serif;
  cursor: default;
}

html.loading, html.loading body {
  overflow: hidden;
}

#preloader-html {
  position: fixed;
  inset: 0;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99999;
}

.preloader-loaderVision {
  width: 50px;
  aspect-ratio: 1;
  --_c: no-repeat radial-gradient(farthest-side, #EC008C 92%, #0000);
  background:
    var(--_c) top,
    var(--_c) left,
    var(--_c) right,
    var(--_c) bottom;
  background-size: 12px 12px;
  animation: l7 1s infinite;
}

@keyframes l7 {
  to {
    transform: rotate(0.5turn);
  }
}

